<!-- <div class="container-fluid u-margin-bottom-huge">

  <h2>Details for: {{found.name}}</h2>

  <table mat-table #table *ngIf="item" [dataSource]="item" class="mat-elevation-z1 items-table">

    <ng-container matColumnDef="hair_color">

      <th mat-header-cell *matHeaderCellDef>Hair</th>

      <td mat-cell *matCellDef="let element">{{ element.hair_color | titlecase }}</td>

    </ng-container>



    <ng-container matColumnDef="skin_color">

      <th mat-header-cell *matHeaderCellDef>Skin</th>

      <td mat-cell *matCellDef="let element">{{ element.skin_color | titlecase }}</td>

    </ng-container>



    <ng-container matColumnDef="eye_color">

      <th mat-header-cell *matHeaderCellDef>Eye</th>

      <td mat-cell *matCellDef="let element">{{ element.eye_color | titlecase}}</td>

    </ng-container>



    <ng-container matColumnDef="birth_year">

      <th mat-header-cell *matHeaderCellDef>Birth year</th>

      <td mat-cell *matCellDef="let element">{{ element.birth_year | titlecase }}</td>

    </ng-container>



    <ng-container matColumnDef="gender">

      <th mat-header-cell *matHeaderCellDef>Gender</th>

      <td mat-cell *matCellDef="let element">{{ element.gender | titlecase}}</td>

    </ng-container>



    <ng-container matColumnDef="home_world">

      <th mat-header-cell *matHeaderCellDef>Home world</th>

      <td mat-cell *matCellDef="let element">{{ element.homeworld | titlecase}}</td>

    </ng-container>



    <ng-container matColumnDef="hobbies">

      <th mat-header-cell *matHeaderCellDef>Hobbies</th>

      <td mat-cell *matCellDef="let element">

        <span *ngFor="let hobby of element.hobbies; let k = index">{{

          hobby | titlecase

          }}<span *ngIf="k<element.hobbies.length - 1">, </span></span>

      </td>

    </ng-container>



    <tr mat-header-row *matHeaderRowDef="extraDetailsColumn"></tr>

    <tr mat-row *matRowDef="let row; columns: extraDetailsColumn"></tr>

  </table>

</div> -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->


  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell  *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef> Height </th>
    <td mat-cell  *matCellDef="let element"> {{element.height}} </td>
  </ng-container>

  <ng-container matColumnDef="mass">
    <th mat-header-cell *matHeaderCellDef> Mass </th>
    <td mat-cell  *matCellDef="let element"> {{element.mass}} </td>
  </ng-container>

  <ng-container matColumnDef="hair_color">
    <th mat-header-cell *matHeaderCellDef> Hair color </th>
    <td mat-cell  *matCellDef="let element"> {{element.hair_color}} </td>
  </ng-container>

  <ng-container matColumnDef="skin_color">
    <th mat-header-cell *matHeaderCellDef> Skin color </th>
    <td mat-cell  *matCellDef="let element"> {{element.skin_color}} </td>
  </ng-container>

  <ng-container matColumnDef="eye_color">
    <th mat-header-cell *matHeaderCellDef> Eye color </th>
    <td mat-cell  *matCellDef="let element"> {{element.eye_color}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="birth_date">
    <th mat-header-cell *matHeaderCellDef> Birth Date </th>
    <td mat-cell  *matCellDef="let element"> {{element.birth_date}} </td>
  </ng-container> -->

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell  *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
