<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>User Dashboard</h1>
    <button mat-raised-button color="warn" (click)="logout()">Log Out</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item href="/src/app/modules/user/components/user-home">Home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 10vh;"></div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


