<section>
  <div class="example-button-row">
    <button mat-flat-button color="primary" (click)="goToAddPeople()">Add new item</button>
  </div>
</section>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element; let index = i"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell  *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="detail">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let row; let index = i">
      <button [routerLink]="['../details', row.id]" mat-mini-fab color="accent" aria-label="Example icon button with a detail icon">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let row; let index = i">
      <button mat-mini-fab color="warn" aria-label="Example icon button with a edit icon">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let row; let index = i">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="deleteData(row.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
