table {
  margin-top: 20px;;
  margin-left: 380px;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.example-button-row{
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
}


