mat-card {
  width: 400px;
  min-height: 150px;
  margin: auto;
  overflow: hidden;
  padding: 0px;
}

mat-card-content{
  padding:20px;
  margin: 0;
  padding-bottom: 0;

  mat-form-field{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
